:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  --font-body: "Charis SIL", serif;
  color: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  margin: 0 !important;
  background-color: #ede3e3;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3,
h4 {
  text-transform: uppercase;
  margin-block-start: 0.75rem;
  margin-block-end: 0.75rem;
}

h5 {
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

.card {
  padding: 2em;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #262626;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.leaflet-control-minimap {
  background: #262626 !important;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #ede3e3;
  color: #262626;
  box-shadow: none;
  text-transform: uppercase;
  font-family: var(--font-body);
}

.leaflet-popup-tip {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}